._course-program {
  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
  }

  &__list {
    display: grid;
    gap: 15px;
    margin-top: 44px;
  }

  &__item {
    padding: 20px 24px;
    border-radius: 16px;
    background: #f8f8f8;

    &-date {
      font-size: 16px;
      font-weight: 400;
      line-height: 175%;
      margin-bottom: 15px;
    }

    &-title {
      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }

    &-text {
      margin-top: 34px;
    }
  }
}
