._feedback {
  color: var(--black-color);

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
  }

  &__form {
    margin: 32px 0;
  }

  &__help {
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    a {
      color: var(--primary-color);
      border-bottom: 1px solid;
      transition: border var(--delay);

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
