._footer {
  padding: 80px 0;
  background-color: #1d212d;

  @include mobile {
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--white-color);

    @include mobile {
      font-size: 32px;
      line-height: 1.1em;
    }
  }

  &__briefing {
    @include clean;

    margin: 36px 0 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: var(--primary-color);
    text-decoration-line: underline;

    @include mobile {
      font-size: 24px;
      line-height: 1.2em;
    }

    &:hover {
      text-decoration-line: none;
    }
  }

  &__email {
    margin: 97px 0 0;

    @include mobile {
      margin-top: 64px;
    }

    a {
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: rgba(255, 255, 255, 0.6);
      transition: color var(--delay) var(--timing-func);

      @include mobile {
        font-size: 24px;
        line-height: 1.2em;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__phone {
    margin: 5px 0 0;

    a {
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;
      font-feature-settings: 'liga' off;
      color: rgba(255, 255, 255, 0.6);

      @include mobile {
        font-size: 28px;
        line-height: 1.1em;
      }
    }
  }

  &__bottom {
    @include touch {
      margin-top: 40px;
    }

    @include desktop {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 40px;
      align-items: flex-end;
      margin-top: 82px;
    }
  }

  &__menu {
    @include clr;

    display: flex;
    align-items: center;
    gap: 12px 48px;

    @include mobile {
      flex-direction: column;
      gap: 0;
    }

    &-item {
      &.active {
        a {
          color: var(--primary-color);
        }
      }
    }

    &-link {
      display: inline-block;
      padding: 12px 0;
      font-size: 14px;
      color: var(--white-color);
      transition: color var(--delay) var(--timing-func);

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: var(--white-color);

    @include touch {
      margin-top: 48px;
    }
  }
}
