._form {
  &__group {
    margin-bottom: var(--space4x);

    &--bottom-large {
      margin-bottom: 44px;
    }

    &--center {
      display: flex;
      justify-content: center;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__rules {
    text-align: center;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);

    a {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}
