._horizontal-banner {
  border-radius: 20px;
  overflow: hidden;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 40px;
    align-items: center;
  }

  &__info {
    padding: 60px 0 60px 60px;

    @include mobile {
      padding: 20px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: var(--white-color);
  }

  &__description {
    margin: 64px 0 0;
    font-size: 18px;
    line-height: 156%;
    color: var(--white-color);

    @include mobile {
      margin-top: 32px;
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: stretch;

    @include mobile {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
