._prompt-block {
  position: relative;
  padding-left: 220px;

  @include mobile {
    padding-left: 0;
    padding-top: 60px;
  }

  @include tablet-only {
    padding-left: 120px;
  }

  &__hint {
    position: absolute;
    top: 6px;
    left: 0;
    margin: 0;
    font-size: 16px;
    line-height: 19px;

    @include mobile {
      top: 0;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }

  &__description {
    margin: 56px 0 0;
    font-size: 18px;
    line-height: 28px;
    padding-right: 40%;

    @include mobile {
      padding-right: 0;
    }

    @include tablet-only {
      padding-right: 20%;
    }
  }
}
