._slider-one-slide {
  display: grid;
  grid-template-columns: 52px 1fr 52px;
  gap: 70px;
  align-items: center;

  &__nav {
  }

  &__slide {
    border-radius: 20px;
    border: 2px solid #353749;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}
