<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_container">
        <div class="_vacancies-inner-page">
          <p class="_vacancies-inner-page__department">Отдел разработки</p>
          <h1 class="_vacancies-inner-page__title _page-title">
            UX/UI-дизайнер
          </h1>
          <p class="_vacancies-inner-page__description">
            Мы находимся в поиске дизайнера пользовательских интерфейсов в нашу
            команду для проекта в нефтегазовой сфере
          </p>

          <div class="_vacancies-inner-page__feedback">
            <button
              onclick="history.back()"
              type="button"
              class="_btn _btn--text _btn--icon"
            >
              <span>
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none">
                  <rect width="52" height="52" rx="26" />
                  <path
                    d="M36 26L16 26M16 26L24.4 34M16 26L24.4 18"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              Назад
            </button>
            <button
              type="button"
              class="_btn js-open-modal"
              data-target="modal-feedback"
            >
              Откликнуться
            </button>
            <a href="#" class="_btn _btn--link">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path
                  d="M4.5 12.5C5.88071 12.5 7 11.3807 7 10C7 8.61929 5.88071 7.5 4.5 7.5C3.11929 7.5 2 8.61929 2 10C2 11.3807 3.11929 12.5 4.5 12.5Z"
                  stroke="#3C5DF2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.5 18C15.8807 18 17 16.8807 17 15.5C17 14.1193 15.8807 13 14.5 13C13.1193 13 12 14.1193 12 15.5C12 16.8807 13.1193 18 14.5 18Z"
                  stroke="#3C5DF2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.5 7C15.8807 7 17 5.88071 17 4.5C17 3.11929 15.8807 2 14.5 2C13.1193 2 12 3.11929 12 4.5C12 5.88071 13.1193 7 14.5 7Z"
                  stroke="#3C5DF2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M12 6L7 9"
                  stroke="#3C5DF2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 11L12 14"
                  stroke="#3C5DF2"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              Поделиться вакансией
            </a>
          </div>

          <div class="_vacancies-inner-page__content _text-content">
            <h2>Задачи</h2>
            <ul>
              <li>
                Разработка дизайна интерфейса для продукта в нефтегазовой сфере
              </li>
              <li>Развитие существующей дизайн-библиотеки</li>
              <li>Развитие корпоративного сайта</li>
            </ul>

            <h2>Мы ожидаем</h2>
            <ul>
              <li>Опыт в области дизайна от 1 года до 3 лет</li>
              <li>
                Умение работать в Figma на уровне владения сетками, Auto
                Layouts, Constraints и компонентами
              </li>
              <li>Наличие в портфолио работ со сложными интерфейсами</li>
            </ul>

            <h2>Мы предлагаем</h2>
            <ul>
              <li>Трудоустройство по ТК РФ</li>
              <li>Обучение за счёт компании</li>
              <li>Свободу действий в принятии решений</li>
              <li>Профессиональную команду</li>
              <li>Возможность развиваться вместе с нашей компанией</li>
              <li>Достойную заработную плату</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
