---
import MobileLogo from "@/images/logo-mobile.svg";
import DesktopLogo from "@/images/logo-desktop.svg";
import Container from "@/components/shared/container.astro";
---

<header class="header">
  <Container>
    <div class="header__content">
      <a href="/" class="header__logo">
        <span class="header__logo-desktop">
          <DesktopLogo />
        </span>
        <span class="header__logo-mobile">
          <MobileLogo />
        </span>
      </a>

      <div class="header__bg"></div>

      <nav class="header__navigation">
        <ul class="header__menu header__menu--mobile">
          <li class="header__menu-item active">
            <a class="header__menu-link menu-link" href="">Главная</a>
          </li>
          <li class="header__menu-item _dropdown">
            <button type="button" class="_dropdown__open-btn js-dropdown">
              <span class="header__menu-link menu-link">Продукты</span>
            </button>

            <div class="_dropdown__bg"></div>
            <div class="_dropdown__body">
              <ul class="header__submenu">
                <li class="header__submenu-item first">
                  <a href="" class="header__submenu-link menu-link">ГРП</a>
                </li>
                <li class="header__submenu-item">
                  <a href="" class="header__submenu-link menu-link">Буроптима</a
                  >
                </li>
                <li class="header__submenu-item">
                  <a href="" class="header__submenu-link menu-link">Эксперия</a>
                </li>
                <li class="header__submenu-item">
                  <a href="" class="header__submenu-link menu-link">РИР</a>
                </li>
                <li class="header__submenu-item">
                  <a href="" class="header__submenu-link menu-link"
                    >Симулятор ОПЗ</a
                  >
                </li>
                <li class="header__submenu-item">
                  <a href="" class="header__submenu-link menu-link">ЛИС</a>
                </li>
                <li class="header__submenu-item last">
                  <a href="" class="header__submenu-link menu-link">НИОКР</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link menu-link" href="">Команда</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link menu-link" href="">Вакансии</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link menu-link" href="">Контакты</a>
          </li>
        </ul>

        <ul class="header__menu">
          <li class="header__menu-item">
            <a class="header__menu-link menu-link" href="">Регистрация</a>
          </li>
          <li class="header__menu-item">
            <a href="" class="_btn _btn--nav-menu">Вход</a>
          </li>
        </ul>

        <!--<div class="header__lang _dropdown">
                  <button type="button" class="clean header__lang-btn js-dropdown">
                    🇷🇺 RU
                  </button>

                  <div class="_dropdown__bg"></div>
                  <div class="_dropdown__body _dropdown__body&#45;&#45;right">
                    <ul class="header__submenu">
                      <li class="header__submenu-item first">
                        <a href="" class="header__submenu-link menu-link">🇬🇧 EN</a>
                      </li>
                    </ul>
                  </div>
                </div>-->
      </nav>

      <div class="header__hamburger">
        <div id="hamburger" class="_hamburger">
          <div class="burger-icon">
            <div class="burger-container">
              <span class="burger-bun-top"></span>
              <span class="burger-filling"></span>
              <span class="burger-bun-bot"></span>
            </div>
          </div>

          <div class="burger-ring">
            <svg class="svg-ring">
              <path
                class="path"
                fill="none"
                stroke="#fff"
                stroke-miterlimit="10"
                stroke-width="4"
                d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"
              ></path>
            </svg>
          </div>

          <svg width="0" height="0">
            <mask id="mask">
              <path
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                stroke="#ff0000"
                stroke-miterlimit="10"
                stroke-width="4"
                d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"
              ></path>
            </mask>
          </svg>

          <div class="path-burger">
            <div class="animate-path">
              <div class="path-rotation"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</header>

<style>
  .menu-link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    padding: var(--space2x) 0;
    color: var(--black-color);
    transition: color var(--delay) var(--timing-func);

    &:hover {
      color: var(--primary-color);
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10;
    transition:
      top calc(3 * var(--delay)) var(--timing-func),
      background-color calc(2 * var(--delay)) var(--timing-func);

    &.active {
      background-image: linear-gradient(
        180deg,
        var(--bg-color) 0%,
        transparent 100%
      );
    }

    &.hidden {
      top: calc(-20 * var(--space));
    }

    & .header__content {
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      /* desktop */
      @media (width >= 1080px) {
        padding: 20px 0;
      }
    }

    & .header__logo {
      height: 26px;
      z-index: 1;

      & .header__logo-desktop {
        /* mobile */
        @media (width < 768px) {
          display: none;
        }
      }

      & .header__logo-mobile {
        /* tablet */
        @media (width >= 768px) {
          display: none;
        }
      }

      svg {
        path {
          transition: fill var(--delay) var(--timing-func);
        }
      }

      &:hover {
        svg {
          path {
            fill: var(--primary-color);
          }
        }
      }
    }

    & .header__bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--black-color);
      display: none;
      opacity: 0;
      transition: opacity calc(1.5 * var(--delay)) var(--timing-func);

      /* desktop */
      @media (width >= 1080px) {
        display: none;
      }

      &.active {
        /* touche */
        @media (width < 1080px) {
          display: block;
        }
      }

      &.visible {
        /* touche */
        @media (width < 1080px) {
          opacity: 0.5;
        }
      }
    }

    & .header__navigation {
      --padd: 48px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: calc(2 * var(--padd) + 1px);

      > *:not(:last-child) {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: calc(-1 * var(--padd) - 1px);
          width: 1px;
          height: 16px;
          transform: translateY(-50%);
          background-color: #0000001a;

          /* touche */
          @media (width < 1080px) {
            display: none;
          }
        }
      }

      /* touche */
      @media (width < 1080px) {
        position: fixed;
        right: -241px;
        bottom: 0;
        width: 240px;
        height: 100%;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        padding: calc(2 * var(--space3x)) var(--space3x);
        overflow-x: hidden;
        overflow-y: scroll;
        transition: right calc(1.5 * var(--delay)) var(--timing-func);
      }

      &.active {
        right: 0;
      }
    }

    & .header__menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 48px;

      /* touche */
      @media (width < 1080px) {
        gap: 20px;
      }

      & .header__menu-item {
        &.active {
          .header__menu-link {
            color: var(--primary-color);
          }
        }
      }

      & .header__menu-link {
        @include menu-link();

        /* touche */
        @media (width < 1080px) {
          padding: calc(1.5 * var(--space)) 0;
        }
      }

      & .header__menu---mobile {
        /* touche */
        @media (width < 1080px) {
          display: block;
          width: 100%;
        }
      }
    }

    & .header__submenu {
      margin: 0;
      list-style: none;
      padding: var(--space) var(--space2x);

      & .header__submenu-item {
        &.active {
          .header__submenu-link {
            color: var(--primary-color);
          }
        }
      }

      & .header__submenu-link {
        padding: calc(var(--space) / 2) 0;
      }
    }

    & .header__lang {
      & .header__lang-btn {
        @include menu-link;

        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    & .header__hamburger {
      /* desktop */
      @media (width >= 1080px) {
        display: none;
      }
    }
  }
</style>
