<footer class="_footer">
  <div class="_container">
    <h2 class="_footer__title">
      Создадим или предоставим программное обеспечение<br />
      для вашей компании в нефтегазовой сфере
    </h2>

    <p class="_footer__briefing">
      <a href="#" target="_blank" rel="noreferrer noopener">Заполнить бриф</a>
    </p>

    <p class="_footer__email">
      <a href="mailto:info@tetacom.pro">info@tetacom.pro</a>
    </p>
    <p class="_footer__phone">
      <a href="tel:+7 800 250-02-24">+7 800 250-02-24</a>
    </p>

    <div class="_footer__bottom">
      <ul class="_footer__menu">
        <li class="_footer__menu-item active">
          <a href="#" class="_footer__menu-link">Главная</a>
        </li>
        <li class="_footer__menu-item">
          <a href="#" class="_footer__menu-link">Продукты</a>
        </li>
        <li class="_footer__menu-item">
          <a href="#" class="_footer__menu-link">Команда</a>
        </li>
        <li class="_footer__menu-item">
          <a href="#" class="_footer__menu-link">Вакансии</a>
        </li>
        <li class="_footer__menu-item">
          <a href="#" class="_footer__menu-link">Контакты</a>
        </li>
      </ul>

      <p class="_footer__copyright">
        © 2018-2023, Тетаком. Все права защищены.
      </p>
    </div>
  </div>
</footer>
