---
import Container from "../../components/container.astro";

const aboutNumbers = [
  { number: "7", text: "продуктов" },
  { number: "40+", text: "специалистов" },
  { number: "100+", text: "пользователей" },
  { number: "30+", text: "лабораторных исследований" },
  { number: "50+", text: "выполненных НИОКР" },
  { number: "4", text: "страны присутствия" },
];
---

<section class="_about-numbers">
  <Container>
    <h2 class="_about-numbers__title">О нас в цифрах</h2>

    <ul class="_about-numbers__body">
      {aboutNumbers.map(({ number, text }) => (
        <li class="_about-numbers__item">
          <span class="_about-numbers__item-number">{number}</span>
          <span class="_about-numbers__item-text">{text}</span>
        </li>
      ))}
    </ul>
  </Container>
</section>

<style>
  ._about-numbers {
    padding: calc(2 * var(--space5x)) 0;
    background-color: #f8f8f8;
  }

  ._about-numbers__title {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  ._about-numbers__body {
    display: grid;
    gap: var(--space5x);
    margin: 24px 0 0;
    padding: 0;
    list-style: none;
  }

  ._about-numbers__item {
    text-align: center;
  }

  ._about-numbers__item-number {
    display: block;
    font-size: 40px;
    line-height: 47px;
    font-weight: 500;
  }

  ._about-numbers__item-text {
    display: block;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
  }

  /* tablet */
  @media (width >= 769px) {
    ._about-numbers__body {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space5x) 0;
      margin-top: 40px;
    }
  }

  /* desktop */
  @media (width >= 1081px) {
    ._about-numbers {
      padding: 125px 0;
    }

    ._about-numbers__body {
      gap: 70px 0;
      margin-top: 70px;
    }
  }
</style>
