<section class="_competencies">
  <h2 class="_competencies__title _title">
    <span class="_main-slider-button-width">Компетенции</span>
  </h2>

  <div class="_competencies__body">
    <div class="_main-slider">
      <div class="_main-slider__track">
        <div class="_main-slider__track-points"></div>
        <button
          type="button"
          class="_main-slider__title _main-slider-button-width"
          id="js-main-swiper-next"
        >
          <span class="_main-slider__title-text">
            <span>Разработка ПО</span>
          </span>
          <span class="_main-slider__title-arrow">
            <svg width="22" height="18" viewBox="0 0 22 18" fill="none">
              <path
                d="M0 9L20 9M20 9L11.6 1M20 9L11.6 17"
                stroke="black"
                stroke-width="2"></path>
            </svg>
          </span>
        </button>
      </div>

      <div id="main-slider" class="swiper _main-slider__swiper js-main-swiper">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide _main-slider__slide swiper-slide-active"
            data-title="Разработка ПО"
          >
            <p>
              Создаем программные продукты для проектирования ГТМ, ГРР и
              сопровождения бурения скважин, прогнозирования термобарических
              условий в скважинах и рисков проявления осложняющих факторов,
              системного управления исследовательскими проектами, выполняющимися
              на лабораторном оборудовании, организуем хранения и обработку
              данных лабораторных исследований
            </p>
          </div>
          <div
            class="swiper-slide _main-slider__slide swiper-slide-next"
            data-title="Title 2"
          >
            <p>
              Разрабатываем, подбираем и испытываем новые технологии воздействия
              на пласт, для всех видов геолого-технических условий, создаем
              специлизированные лабораторные методики
            </p>
            <p>
              Прототипируем и изготавливаем инновационные технические средства и
              экспериментальное оборудование для нужд исследовательских и
              нефтепромысловых лабораторий
            </p>
          </div>
          <div class="swiper-slide _main-slider__slide" data-title="Title 3">
            <p>
              Занимаемся фильтрационными исследованиями, физическим
              моделированием процессов гидратообразования, выпадением АСПО и
              неорганических солей в статических и динамических условиях
            </p>
            <p>
              Исследуем составы и физико-химические свойства добываемых флюидов,
              отложений, химических реагентов, в том числе подбор их оптимальных
              дозировок
            </p>
          </div>
        </div>

        <div class="_swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<style>
  ._title {
    font-size: 40px;
    line-height: 47px;
  }

  ._competencies {
    padding: 72px 0 79px;
  }

  ._competencies__title {
    text-align: center;
  }

  ._competencies__body {
    margin-top: var(--space4x);
  }

  ._main-slider {
    display: grid;
  }

  ._main-slider-button-width {
    display: block;
    width: 280px;
    margin: auto;
    text-align: left;
  }

  ._main-slider__track {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 var(--space2x);
    background-image: linear-gradient(
      to right,
      transparent 80%,
      var(--text-color) 80%
    );
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: 6px 1px;
  }

  ._main-slider__track::before,
  ._main-slider__track::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 25%;
    height: 100%;
  }

  ._main-slider__track::before {
    left: 0;
    background-image: linear-gradient(to right, var(--bg-color), transparent);
  }

  ._main-slider__track::after {
    right: 0;
    background-image: linear-gradient(to left, var(--bg-color), transparent);
  }

  ._main-slider__track-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  ._main-slider__title {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 48px;
    padding: 0 17px 0 26px;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    transition: color calc(2 * var(--delay)) var(--timing-func);
  }

  ._main-slider__title:hover {
    color: var(--primary-color);
  }

  ._main-slider__title:hover ._main-slider__title-arrow {
    transform: translate(10px);
  }

  ._main-slider__title:hover ._main-slider__title-arrow svg path {
    stroke: var(--primary-color);
  }

  :global(._main-slider__title-text) {
    position: relative;
    width: 100%;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-weight: 500;
  }

  :global(._main-slider__title-text span) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ._main-slider__title-arrow {
    margin-top: 4px;
    transition: transform calc(2 * var(--delay)) var(--timing-func);
  }

  ._main-slider__title-arrow svg path {
    stroke: var(--text-color);
    transition: stroke calc(2 * var(--delay)) var(--timing-func);
  }

  ._main-slider__swiper {
    margin-top: 20px;
    padding-bottom: var(--space4x);
  }

  ._main-slider__swiper :global(.swiper-wrapper) {
    display: flex;
    padding: 0 var(--space2x);
  }

  ._main-slider__slide {
    width: 280px;
    padding: 0 var(--space2x);
    cursor: pointer;
    opacity: 0.2;
    transition: opacity calc(2 * var(--delay)) var(--timing-func);
  }

  ._main-slider__slide.swiper-slide-active {
    opacity: 1;
  }

  ._main-slider__slide.swiper-slide-next {
    opacity: 0.6;
  }

  ._main-slider__slide:hover {
    opacity: 1;
  }

  ._main-slider__slide p {
    font-size: 18px;
    line-height: 156%;
  }

  ._main-slider__slide p:not(:last-child) {
    margin-bottom: 0.5em;
  }

  ._swiper-pagination {
    position: absolute;
    bottom: calc(var(--space) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space5x);
  }

  /* tablet */
  @media (width >= 769px) {
    ._main-slider-button-width {
      width: 380px;
    }

    ._main-slider__track {
      justify-content: center;
      padding: 0;
    }

    ._main-slider__swiper {
      margin-top: 36px;
    }

    ._main-slider__swiper :global(.swiper-wrapper) {
      padding: 0;
    }

    ._main-slider__slide {
      width: 372px;
      padding: 0;
    }
  }

  /* desktop */
  @media (width >= 1081px) {
    ._competencies__body {
      margin-top: 48px;
    }
  }
</style>

<script>
  import gsap from "gsap";
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";

  const nextBtn = document.querySelector<HTMLElement>("#js-main-swiper-next");

  const mainSwiper = new Swiper("#main-slider", {
    modules: [Pagination],
    spaceBetween: 0,
    slidesPerView: "auto",
    speed: 300,
    slideToClickedSlide: true,
    pagination: {
      el: "._swiper-pagination",
      type: "bullets",
      clickable: true,
    },
    breakpoints: {
      769: {
        centeredSlides: true,
        speed: 600,
        spaceBetween: 60,
        pagination: false,
      },
      1081: {
        centeredSlides: true,
        spaceBetween: 80,
        pagination: false,
        speed: 900,
      },
    },
    on: {
      slidePrevTransitionStart: (swiper) => {
        changeTitle(Array.from(swiper.slides), false);
      },
      slideNextTransitionStart: (swiper) => {
        changeTitle(Array.from(swiper.slides), true);
      },
    },
  });

  if (nextBtn) {
    nextBtn.addEventListener("click", () => {
      mainSwiper.slideNext();
    });
  }

  function changeTitle(slides: HTMLElement[], isNextDirection: boolean) {
    if (!nextBtn) {
      return;
    }

    const currentSlideTitle = slides.find((slide) =>
      slide.classList.contains("swiper-slide-active"),
    )?.dataset.title;
    const textWrapper = nextBtn.querySelector<HTMLElement>(
      "._main-slider__title-text",
    );
    if (!textWrapper) {
      return;
    }

    const prevTextElement = textWrapper.querySelector("span");
    if (!prevTextElement) {
      return;
    }
    if (currentSlideTitle && prevTextElement.innerText !== currentSlideTitle) {
      const y = 60;

      const nextText = document.createElement("span");
      nextText.innerText = currentSlideTitle;
      nextText.style.transform = `translate(${isNextDirection ? "-" : ""}${y}px)`;

      textWrapper.appendChild(nextText);

      gsap.fromTo(
        nextText,
        { x: 0, y: isNextDirection ? -1 * y : y },
        { x: 0, y: 0, duration: 1 },
      );
      gsap.to(prevTextElement, {
        y: isNextDirection ? y : -1 * y,
        duration: 1,
        onComplete() {
          prevTextElement.remove();
        },
      });
    }
  }
</script>
