._about-numbers {
  padding: calc(2 * var(--space5x)) 0;

  @include desktop {
    padding: calc(3 * var(--space5x)) 0;
  }

  &__title {
    text-align: center;
  }

  &__body {
    @include clr;

    margin-top: var(--space3x);
    display: grid;
    gap: var(--space5x);

    @include tablet {
      margin-top: var(--space5x);
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space5x) 0;
    }

    @include desktop {
      margin-top: calc(2 * var(--space5x));
      padding: 0 calc(2 * var(--space3x));
      gap: 70px 0;
    }
  }

  &__item {
    text-align: center;

    &-number {
      display: block;
      font-weight: 700;
      font-size: 72px;
      line-height: 85px;
    }

    &-text {
      display: block;

      @include mobile {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}
