._competencies {
  padding: var(--space5x) 0 102px;

  @include desktop {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 0 344px;
  }

  &__title {
    text-align: center;
  }

  &__body {
    margin-top: var(--space4x);

    @include desktop {
      margin-top: 60px;
    }
  }
}
