._competencies {
  padding: var(--space5x) 0 102px;

  @include desktop {
    padding: 72px 0 65px;
  }

  &__title {
    text-align: center;
  }

  &__body {
    margin-top: var(--space4x);

    @include desktop {
      margin-top: 48px;
    }
  }
}
