._feedback-block {
  padding: 120px 0;

  &__card {
    padding: 60px 110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 130px;
    align-items: center;
    background: #f8f8f8;
    border-radius: 20px;
  }

  &__info {
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }

  &__description {
    margin: 60px 0 0;
    font-size: 18px;
    line-height: 28px;
  }

  &__form {
    padding-left: 58px;
  }
}
