._history {
  &__container {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  &__panel {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: var(--space5x);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 400%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 160px;
    line-height: 200px;
    text-align: center;
    letter-spacing: 5px;

    @include tablet {
      font-size: 220px;
    }
  }
}
