._partners {
  padding: calc(2 * var(--space5x)) 0;

  &__title {
  }

  &__body {
    margin-top: var(--space5x);
  }

  &__slider {
    @include container-padding;

    height: 120px;

    .swiper-slide {
      width: auto;
    }
  }

  &__item {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
