._partners {
  padding: calc(3 * var(--space5x)) 0;
  margin-bottom: -40vh;

  @include desktop {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--space5x);
    flex-wrap: wrap;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      flex-direction: row;
      gap: 40px 20px;
    }

    @include desktop {
      margin-top: var(--space5x);
      gap: 40px 80px;
    }

    @include fullhd {
      justify-content: flex-start;
      gap: 40px 160px;
    }
  }

  &__item {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
