._product-page {
  padding: 220px 0 0;

  @include mobile {
    padding: 80px 0 0;
  }

  @include tablet-only {
    padding: 120px 0 0;
  }

  &__title {
    margin: 0;

    @include mobile {
      text-align: center;
    }
  }

  &__description {
    margin: 45px 0 0;
    font-size: 18px;
    line-height: 21px;

    @include mobile {
      text-align: center;
      margin-top: 32px;
    }

    @include desktop {
      padding-right: 40%;
    }
  }

  &__actions {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include mobile {
      justify-content: center;
      margin-top: 40px;
    }
  }

  &__picture {
    margin-top: 162px;
    border: 2px solid #353749;
    border-radius: 20px;
    overflow: hidden;

    @include mobile {
      margin-top: 64px;
    }

    @include tablet-only {
      margin-top: 92px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__prompt-1 {
    margin-top: 160px;

    @include mobile {
      margin-top: 64px;
    }
  }

  &__banners {
    --image-width: 520px;

    margin-top: 160px;
    display: grid;
    gap: 20px;

    @include mobile {
      --image-width: 240px;

      margin-top: 64px;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content;
      padding-bottom: calc(var(--image-width) / 4);
    }

    @include desktop {
      padding-bottom: calc(var(--image-width) / 2);
    }

    &-wide {
      @include tablet {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  &__prompt-2 {
    margin-top: 84px;

    @include touch {
      margin-top: 40px;
    }
  }

  &__modules {
    margin-top: 180px;
    padding: 100px 0 140px;
    background-color: #f8f8f8;

    @include mobile {
      margin-top: 80px;
      padding: 50px 0 70px;
    }

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
    }

    &-body {
      margin-top: 100px;
      display: grid;
      gap: 100px 20px;

      @include tablet-only {
        margin-top: 140px;
        grid-template-columns: repeat(2, 1fr);
        gap: 128px 20px;
      }

      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__module {
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 0 32px 40px;

    &-image {
      max-width: 190px;
      width: 100%;
      height: 140px;
      margin: auto;
      transform: translateY(-55%);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-title {
      margin: -11% 0 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;

      @include mobile {
        margin: -70px 0 0;
      }
    }

    &-description {
      margin: 28px 0 0;
      font-size: 18px;
      line-height: 156%;
    }
  }
}
