._start-list {
  &__item {
    @include desktop {
      display: grid;
      gap: 12vw;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 60px;
    }

    &:not(:last-child) {
      margin-bottom: var(--space5x);

      @include desktop {
        margin-bottom: 30vh;
      }
    }

    &-title {
      font-weight: 500;

      font-size: 36px;
      line-height: 1.2em;

      @include tablet {
        font-size: 58px;
        line-height: 68px;
      }
    }

    ul {
      @include clr;

      padding-top: var(--space4x);

      li {
        font-size: 16px;
        line-height: 1.5em;

        @include tablet {
          font-size: 20px;
          line-height: 32px;
        }

        &:not(:last-child) {
          margin-bottom: 1.2em;

          @include tablet {
            margin-bottom: 36px;
          }
        }
      }
    }
  }
}
