._start-list {
  &__item {
    display: grid;
    gap: 12vw;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;

    &:not(:last-child) {
      margin-bottom: 30vh;
    }

    &-title {
      font-weight: 500;
      font-size: 58px;
      line-height: 68px;
    }

    &-list {
      @include clr;

      padding-top: var(--space4x);

      li {
        font-size: 20px;
        line-height: 32px;

        &:not(:last-child) {
          margin-bottom: 36px;
        }
      }
    }
  }
}
