._who-are-we {
  display: grid;
  padding: var(--space5x) 0;

  @include desktop {
    grid-template-columns: 35% 65%;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
  }

  &__info {
  }

  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__description {
    margin-top: var(--space2x);

    @include desktop {
      margin-top: var(--space5x);
    }

    p {
      margin-block-end: 1.6em;

      @include desktop {
        margin-block-end: 1.4em;
      }
    }
  }

  &__photos {
    @include desktop {
      display: flex;
      justify-content: flex-end;
    }

    &-content {
      max-width: calc(100vw - var(--space4x));
      border-radius: calc(100vw / 2);
      overflow: hidden;

      @include tablet {
        max-width: 720px;
        border-radius: 330px;
      }
    }
  }

  &__img {
    height: calc(100vw - var(--space4x) - var(--space3x));

    @include tablet {
      height: 684px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}
