---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis,
    dolor hic laborum veritatis voluptas! Adipisci aspernatur dicta dolorem,
    doloremque doloribus fugiat, harum iure laborum nam porro tempora veniam
    voluptas.
  </h1>
</Layout>
