---
import AboutNumbers from "../blocks/home/about-numbers.astro";
import Capabilities from "../blocks/home/capabilities.astro";
import Competencies from "../blocks/home/competencies.astro";
import Feedback from "../blocks/home/feedback.astro";
import Layout from "../layouts/layout.astro";
import StartScreen from "../blocks/home/start-screen.astro";
import Partners from "../blocks/home/partners.astro";
import WhoAreWe from "../blocks/home/who-are-we.astro";
import Container from "../components/container.astro";
import { getSiteUrl } from "../utils/site-url";

const title = "Тетаком: облачные сервисы для нефтегазовой отрасли";
const description =
  "Облачные решения компании Тетаком для нефтегазовой промышленности позволяют снижать себестоимость добычи природных энергоресурсов";
const canonical = getSiteUrl("/", Astro.site);
---

<Layout title={title} description={description} canonical={canonical}>
  <main class="page-main">
    <StartScreen />
    <Container>
      <WhoAreWe />
    </Container>
    <Competencies />
    <Container>
      <section class="_project-teasers">
        <Capabilities />
      </section>
      <Feedback />
      <Partners />
    </Container>
    <AboutNumbers />
  </main>
</Layout>

<style>
  .page-main {
    flex: 1;
  }
</style>
