---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <main class="page-main"></main>
</Layout>

<style>
  .page-main {
    flex: 1;
    padding-top: 72px;
  }

  /* desktop */
  @media (width >= 1081px) {
    .page-main {
      padding-top: 92px;
    }
  }
</style>
