---
import Layout from "../layouts/layout.astro";
import StartScreen from "../blocks/index/start-screen.astro";
---

<Layout>
  <main class="page-main">
    <StartScreen />
  </main>
</Layout>

<style>
  .page-main {
    flex: 1;
  }
</style>
