---
import { Image } from "astro:assets";
import AuthorDate from "../components/author-date.astro";
import Btn from "../components/btn.astro";
import Container from "../components/container.astro";
import Layout from "../layouts/layout.astro";
import PageTitle from "../components/page-title.astro";
import TagList from "../components/tag-list.astro";
import TextContent from "../components/text-content.astro";
import avatar1Image from "../assets/news/avatars/avatar-1.jpg";
import articleImage from "../assets/news/articles/article-1/1.jpg";
import slide1Image from "../assets/course/slide-1.jpg";
---

<Layout>
  <main class="page-main">
    <Container>
      <div class="_news-page-inner">
        <div class="_news-page-inner__aside">
          <Btn href="/news/" variant="text" shape="icon">
            <span>
              <svg width="52" height="52" viewBox="0 0 52 52" fill="none">
                <rect width="52" height="52" rx="26"></rect>
                <path
                  d="M36 26L16 26M16 26L24.4 34M16 26L24.4 18"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </span>
            Назад
          </Btn>
        </div>

        <div class="_news-page-inner__body">
          <AuthorDate
            authorName="Марат Ситдиков"
            authorAvatar={avatar1Image}
            dateText="7 Июля, 13:31"
            dateTime="7 Июля, 13:31"
          />

          <PageTitle as="h1" rootClass="_news-page-inner__title">
            Ретроспективный анализ двухстадийной солянокислотной обработки с
            закачкой
          </PageTitle>

          <TagList
            rootClass="_news-page-inner__tags"
            items={[
              { label: "Образование", href: "#" },
              { label: "Наука и инновации", href: "#" },
            ]}
          />

          <TextContent rootClass="_news-page-inner__content">
            <p>
              Рассмотрим пример ретроспективного моделирования в Симуляторе ОПЗ
              "RockStim" дизайна двухстадийной солянокислотной обработки с
              закачкой по затрубному пространству с применением отклонителя.
            </p>
            <h2>Исходные данные</h2>
            <p><strong>Тип коллектора:</strong> карбонатный</p>
            <p><strong>Пластовая температура:</strong> 25°С</p>
            <p><strong>Конструкция скважины:</strong> вертикальная</p>
            <p><strong>Тип скважины:</strong> нефтедобывающая</p>
            <p><strong>Режим обработки:</strong> закачка без пакера</p>
            <p><strong>Модель расчета:</strong> 1D</p>
            <p><strong>Используемые реагенты:</strong> кислота, отклонитель</p>
            <h2>Моделирование</h2>
            <p>
              Скин-фактор был определен с помощью блока "Анализ добычи" с
              использованием фактических режимных данных работы скважины.
            </p>
            <p>
              Из базы реагентов были выбраны кислотные составы, по которым
              имелись данные кинетики по эксплуатируемому объекту.
            </p>
            <p>
              Согласно фактическим данным был сформирован следующий план
              закачки:
            </p>
            <h3>
              Кислота (по затр.) 9,93м³ → Отклонитель (по затр.) 8,94м³ →
              Кислота (по затр.) 10,13м³ → Продавка (по затр.) 15м³
            </h3>
            <p>
              <Image src={articleImage} alt="" />
            </p>
            <h6 class="_news-page-inner__figure-caption">Рис. 1. План закачки</h6>
            <p>
              Для выполнения качественного моделирования ОПЗ была выбрана
              1D-модель, червоточины моделировались согласно модели Гонга с
              максимальной детализацией выходных данных. Данная модель была
              выбрана для уменьшения погрешности расчета, связанной с тем, что
              пласт имеет большую расчлененность.
            </p>
            <p>
              <Image src={slide1Image} alt="Описание" />
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
              blanditiis delectus impedit quia repudiandae! Accusantium
              consectetur consequatur, exercitationem necessitatibus nihil quia!
              Aliquid architecto doloremque eos explicabo, in praesentium ut
              voluptas.
            </p>
          </TextContent>
        </div>
      </div>
    </Container>
  </main>
</Layout>

<style>
  .page-main {
    flex: 1;
  }

  ._news-page-inner {
    display: grid;
    gap: 20px;
    padding: 180px 0 164px;
  }

  ._news-page-inner__aside {
    padding-right: 20px;
  }

  ._news-page-inner__body {
    padding-top: 12px;
  }

  :global(._news-page-inner__title) {
    margin-top: 10px;
  }

  ._news-page-inner__tags {
    margin-top: 36px;
  }

  ._news-page-inner__content {
    margin-top: 60px;
  }

  :global(._news-page-inner__figure-caption) {
    color: rgb(0 0 0 / 70%);
  }

  /* mobile */
  @media (width < 769px) {
    ._news-page-inner {
      padding: 80px 0;
    }

    :global(._news-page-inner__title) {
      font-size: 36px;
    }
  }

  /* tablet */
  @media (width >= 769px) {
    ._news-page-inner {
      grid-template-columns: 220px 1fr;
      gap: 0;
    }
  }

  /* tablet-only */
  @media (width >= 769px) and (width < 1081px) {
    ._news-page-inner {
      padding: 120px 0;
    }
  }
</style>
