---
import Btn from "../components/btn.astro";
import Container from "../components/container.astro";
import LinkBlock from "../components/link-block.astro";
import PageTitle from "../components/page-title.astro";
import Layout from "../layouts/layout.astro";

interface VacancyItem {
  rootClass?: string;
  title: string;
  description: string;
  href: string;
  linkLabel: string;
  itemAttrs?: Record<string, string>;
}

const vacancies: VacancyItem[] = [
  {
    rootClass: "_vacancies-page__item",
    title: "Backend-разработчик",
    description: ".NET Framework, React, CSS",
    href: "#",
    linkLabel: "Backend-разработчик",
    itemAttrs: {
      "data-vacancy": "dev",
      "data-vacancy-name": "Отдел разработки",
    },
  },
  {
    rootClass: "_vacancies-page__item",
    title: "Frontend-разработчик",
    description: "Опыт: от 3 до 5 лет",
    href: "#",
    linkLabel: "Frontend-разработчик",
    itemAttrs: {
      "data-vacancy": "dev",
      "data-vacancy-name": "Отдел разработки",
    },
  },
  {
    rootClass: "_vacancies-page__item",
    title: "UX/UI-дизайнер",
    description: "Figma, Adobe Photoshop, Adobe Illustrator",
    href: "#",
    linkLabel: "UX/UI-дизайнер",
    itemAttrs: {
      "data-vacancy": "dev",
      "data-vacancy-name": "Отдел разработки",
    },
  },
  {
    rootClass: "_vacancies-page__item",
    title: "QA-инженер",
    description: ".NET Framework, React, CSS",
    href: "#",
    linkLabel: "QA-инженер",
    itemAttrs: {
      "data-vacancy": "dev",
      "data-vacancy-name": "Отдел разработки",
    },
  },
  {
    rootClass: "_vacancies-page__item",
    title: "Менеджер по продажам",
    description: "Опыт: можно без опыта",
    href: "#",
    linkLabel: "Менеджер по продажам",
    itemAttrs: {
      "data-vacancy": "sale",
      "data-vacancy-name": "Отдел продаж",
    },
  },
  {
    rootClass: "_vacancies-page__item",
    title: "Бизнес-аналитик",
    description: ".NET Framework, React, CSS",
    href: "#",
    linkLabel: "Бизнес-аналитик",
    itemAttrs: {
      "data-vacancy": "manager",
      "data-vacancy-name": "Project-менеджер",
    },
  },
];
---

<Layout>
  <main class="page-main">
    <Container>
      <div class="_vacancies-page">
        <PageTitle as="h1" rootClass="_vacancies-page__title"
          >Вакансии</PageTitle
        >

        <div class="_vacancies-page__description">
          <p>
            Уважаемые соискатели, если Вы заинтересованы с работе в нашей
            компании, отправьте свое резюме на
            <a href="mailto:ets@tetacom.pro">ets@tetacom.pro</a>
          </p>
          <p>
            Список актуальных открытых вакансий можно посмотреть
            <a
              href="https://ufa.hh.ru/employer/4753085"
              target="_blank"
              rel="noreferrer noopener"
            >
              на нашей странице
            </a>
            на Head Hunter
          </p>
        </div>

        <div class="_vacancies-page__body">
          <div class="_vacancies-page__filter">
            <Btn type="button" size="small" data-type="all">
              Все вакансии
              <span class="_vacancies-page__filter-number"
                >{vacancies.length}</span
              >
            </Btn>
          </div>

          <div class="_vacancies-page__items">
            <LinkBlock items={vacancies} />
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>

<style>
  .page-main {
    flex: 1;
  }

  ._vacancies-page {
    padding: 180px 0 164px;
  }

  ._vacancies-page__description {
    display: grid;
    gap: 0.5em;
    margin-top: 28px;
  }

  ._vacancies-page__description p {
    margin: 0;
    font-size: 18px;
    line-height: 155%;
  }

  ._vacancies-page__description a {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition:
      color var(--delay),
      border-color var(--delay);
  }

  ._vacancies-page__description a:hover {
    color: var(--primary-color);
    border-bottom-color: transparent;
  }

  ._vacancies-page__body {
    margin-top: 60px;
  }

  ._vacancies-page__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  ._vacancies-page__filter-number {
    padding-left: 9px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    transition: color var(--delay) var(--timing-func);
  }

  ._vacancies-page__filter
    :global(._btn:hover ._vacancies-page__filter-number) {
    color: var(--primary-color);
  }

  ._vacancies-page__items {
    margin-top: 36px;
  }

  :global(._vacancies-page__item.hidden) {
    display: none;
  }

  /* mobile */
  @media (width < 769px) {
    ._vacancies-page {
      padding: 80px 0;
    }
  }

  /* tablet-only */
  @media (width >= 769px) and (width < 1081px) {
    ._vacancies-page {
      padding: 120px 0;
    }
  }
</style>
