---
import Btn from "./btn.astro";
import Notification from "./notification.astro";

const cookieId = "teta_cookie";
---

<div class="_cookie">
  <Notification id={cookieId}>
    <div class="_cookie__content">
      <p>Мы используем файлы cookie.</p>
      <p>
        Подробнее
        <a href="/documents/cookie_policy.pdf" target="_blank">
          в нашей политике в отношении использования файлов «cookie»
        </a>
      </p>
      <p>
        <Btn popovertarget={cookieId} popovertargetaction="hide"> Принять </Btn>
      </p>
    </div>
  </Notification>
</div>

<script is:inline define:vars={{ cookieId }}>
  const popoverEl = document.getElementById(cookieId);

  const savedCookie = localStorage.getItem(cookieId);
  if (!savedCookie) {
    popoverEl.showPopover();

    popoverEl.addEventListener("toggle", (event) => {
      if (event.newState === "closed") {
        localStorage.setItem(cookieId, "saved");
      }
    });
  }
</script>

<style>
  ._cookie {
  }

  ._cookie__content {
    width: 440px;
    padding: 12px 24px;
  }

  ._cookie__content p {
    margin: 1em 0;
    line-height: 1.2em;
  }

  ._cookie__content a {
    color: var(--primary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  /* mobile */
  @media (width < 769px) {
    ._cookie__content {
      width: 280px;
    }
  }
</style>
