---
const { id, as = "div", class: className, bodyClass, ...attrs } = Astro.props;

const Tag = as;
const classes = ["_dropdown", className].filter(Boolean).join(" ");
const bodyClasses = ["_dropdown__body", bodyClass].filter(Boolean).join(" ");
---

<Tag class={classes} {...attrs}>
  <slot name="trigger" />

  <div popover id={id} class={bodyClasses}>
    <slot />
  </div>
</Tag>

<style>
  ._dropdown {
    position: relative;
  }

  :global(._dropdown__open-btn) {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    cursor: pointer;
  }

  /* desktop */
  @media (width >= 1081px) {
    ._dropdown__body {
      border: none;
      padding: 0;
      position-area: bottom span-right;
      opacity: 0;
      transform: translateY(-12px);
      width: max-content;
      overflow: hidden;
      border-radius: 4px;
      background-color: var(--white-color);
      box-shadow: var(--shadow);
      transition:
        opacity var(--delay) ease,
        transform var(--delay) ease,
        overlay var(--delay) ease allow-discrete,
        display var(--delay) ease allow-discrete;

      &:popover-open {
        opacity: 1;
        transform: translateY(0);

        @starting-style {
          opacity: 0;
          transform: translateY(-12px);
        }
      }
    }
  }
</style>
