---
const { id = "hamburger", class: className, ...attrs } = Astro.props;
const classes = ["_hamburger", className].filter(Boolean).join(" ");
---

<div id={id} class={classes} {...attrs}>
  <div class="burger-icon">
    <div class="burger-container">
      <span class="burger-bun-top"></span>
      <span class="burger-filling"></span>
      <span class="burger-bun-bot"></span>
    </div>
  </div>

  <div class="burger-ring">
    <svg class="svg-ring">
      <path
        class="path"
        fill="none"
        stroke="#fff"
        stroke-miterlimit="10"
        stroke-width="4"
        d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"
      />
    </svg>
  </div>

  <svg width="0" height="0">
    <mask id="mask">
      <path
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="#ff0000"
        stroke-miterlimit="10"
        stroke-width="4"
        d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"
      />
    </mask>
  </svg>

  <div class="path-burger">
    <div class="animate-path">
      <div class="path-rotation"></div>
    </div>
  </div>
</div>

<style>
  ._hamburger {
    --color: var(--text-color);
    --scale: 0.5;

    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    transform: scale(var(--scale));
    user-select: none;
  }

  .path-burger {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    transform: translate(-50%, -50%);
    mask: url(#mask);
  }

  .animate-path {
    position: absolute;
    inset: 0;
  }

  .path-rotation {
    width: 34px;
    height: 34px;
    margin: 34px 34px 0 0;
    transform-origin: 100% 0;
  }

  .path-rotation::before {
    content: "";
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: var(--color);
  }

  .path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
  }

  .burger-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    padding: 20px 16px;
    transform: translate(-50%, -50%);
  }

  .burger-container {
    position: relative;
    width: 36px;
    height: 28px;
  }

  .burger-bun-top,
  .burger-bun-bot,
  .burger-filling {
    position: absolute;
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 2px;
    background: var(--color);
  }

  .burger-bun-top {
    top: 0;
    transform-origin: 34px 2px;
  }

  .burger-bun-bot {
    bottom: 0;
    transform-origin: 34px 2px;
  }

  .burger-filling {
    top: 12px;
  }

  .burger-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    transform: translate(-50%, -50%);
  }

  .svg-ring {
    width: 68px;
    height: 68px;
  }
</style>
