---
import "../styles/_global.css";

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
}

const { title = "Astro Basics", description, canonical } = Astro.props as Props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  {description && <meta name="description" content={description} />}
  {canonical && <link rel="canonical" href={canonical} />}
  <title>{title}</title>
</head>
