---
interface InlineTextPart {
  text: string;
  href?: string;
}

type InlineText = string | InlineTextPart[];

interface Props {
  content: InlineText;
}

const { content } = Astro.props as Props;
const parts = typeof content === "string" ? [{ text: content }] : content;
---

{
  parts.map((part) =>
    part.href ? <a href={part.href}>{part.text}</a> : part.text,
  )
}

<style>
  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 0.16em;
    transition: color var(--delay) var(--timing-func);
  }

  a:hover {
    color: var(--primary-color);
  }
</style>
