---
import Feedback from "./feedback.astro";
import BaseForm from "./base-form.astro";

import CloseIcon from "../assets/close-icon.svg";
---

<div popover class="_modal" id="modal-feedback">
  <div class="_modal__wrap">
    <Feedback title="Связаться с нами">
      <BaseForm />
    </Feedback>

    <button
      type="button"
      class="_modal__close"
      popovertarget="modal-feedback"
      popovertargetaction="hide"
      aria-label="Закрыть"
    >
      <CloseIcon />
    </button>
  </div>
</div>

<div popover class="_modal" id="modal-demo">
  <div class="_modal__wrap">
    <Feedback title="Заявка на демонстрацию">
      <BaseForm />
    </Feedback>

    <button
      type="button"
      class="_modal__close"
      popovertarget="modal-feedback"
      popovertargetaction="hide"
      aria-label="Закрыть"
    >
      <CloseIcon />
    </button>
  </div>
</div>

<div popover class="_modal" id="modal-success">
  <div class="_modal__wrap">
    <div class="_success">
      <h3 class="_success__title">Ваш комментарий отправлен</h3>
      <div class="_success__image">
        <svg width="120" height="120" x="0px" y="0px" viewBox="0 0 507.2 507.2">
          <circle style="fill: #32ba7c" cx="253.6" cy="253.6" r="253.6"
          ></circle>
          <path
            style="fill: #0aa06e"
            d="M188.8,368l130.4,130.4c108-28.8,188-127.2,188-244.8c0-2.4,0-4.8,0-7.2L404.8,152L188.8,368z"
          ></path>
          <g>
            <path
              style="fill: #ffffff"
              d="M260,310.4c11.2,11.2,11.2,30.4,0,41.6l-23.2,23.2c-11.2,11.2-30.4,11.2-41.6,0L93.6,272.8
		c-11.2-11.2-11.2-30.4,0-41.6l23.2-23.2c11.2-11.2,30.4-11.2,41.6,0L260,310.4z"
            ></path>
            <path
              style="fill: #ffffff"
              d="M348.8,133.6c11.2-11.2,30.4-11.2,41.6,0l23.2,23.2c11.2,11.2,11.2,30.4,0,41.6l-176,175.2
		c-11.2,11.2-30.4,11.2-41.6,0l-23.2-23.2c-11.2-11.2-11.2-30.4,0-41.6L348.8,133.6z"
            ></path>
          </g>
        </svg>
      </div>
    </div>

    <button
      type="button"
      class="_modal__close"
      popovertarget="modal-success"
      popovertargetaction="hide"
      aria-label="Закрыть"
    >
      <CloseIcon />
    </button>
  </div>
</div>

<style>
  ._modal {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 0;
    border: 0;
    overflow: visible;
    background-color: transparent;
    opacity: 0;
    transform: scale(0.75);
    transition:
      opacity calc(2 * var(--delay)) var(--timing-func),
      transform calc(2 * var(--delay)) var(--timing-func),
      overlay calc(2 * var(--delay)) var(--timing-func) allow-discrete,
      display calc(2 * var(--delay)) var(--timing-func) allow-discrete;
  }

  ._modal:popover-open {
    opacity: 1;
    transform: scale(1);
  }

  @starting-style {
    ._modal:popover-open {
      opacity: 0;
      transform: scale(0.75);
    }
  }

  ._modal::backdrop {
    background-color: rgb(0 0 0 / 50%);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition:
      opacity calc(2 * var(--delay)) var(--timing-func),
      overlay calc(2 * var(--delay)) var(--timing-func) allow-discrete,
      display calc(2 * var(--delay)) var(--timing-func) allow-discrete;
  }

  ._modal:popover-open::backdrop {
    opacity: 1;
  }

  @starting-style {
    ._modal:popover-open::backdrop {
      opacity: 0;
    }
  }

  ._modal__wrap {
    position: relative;
    width: 416px;
    max-width: 90vw;
    max-height: 90vh;
    padding: 26px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 16px;
    background-color: var(--bg-color);
  }

  ._modal__close {
    position: absolute;
    top: 20px;
    right: 14px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 0;
    border-radius: 50%;
    transition: background-color var(--delay) var(--timing-func);

    &:hover {
      background-color: #f8f8f8;
    }
  }

  ._success__title {
    margin: 0;
    padding: 0 24px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  ._success__image {
    margin-top: 32px;
    text-align: center;
  }
</style>
