<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <div class="_container">
      <div class="_not-found">
        <div class="_not-found__picture">
          <img src="img/404.png" alt="" width="451" height="386" />
        </div>
        <h1 class="_not-found__title">
          Такой страницы не существует.
          <br />
          Проверьте правильность написания адреса или перейдите на главную
        </h1>
        <div class="_not-found__actions">
          <a href="#" class="_btn">На главную</a>
        </div>
      </div>
    </div>

    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
