<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_container">
        <div class="_acid-treatments-and-reagents-page">
          <section class="_acid-treatments-and-reagents-page__start">
            <h3 class="_acid-treatments-and-reagents-page__point">
              Программа повышения квалификации
            </h3>
            <h1 class="_acid-treatments-and-reagents-page__title _page-title">
              Продвинутый курс по кислотным обработкам и реагентам
            </h1>
            <p class="_acid-treatments-and-reagents-page__description">
              Для специалистов нефтегазодобывающих, нефтесервисных и
              научно-проектных предприятий, имеющие среднее или высшее
              специально-техническое образование, которые получат теоретические
              знания и практические навыки моделирования в симуляторе ОПЗ.
            </p>
            <ul class="_acid-treatments-and-reagents-page__props">
              <li class="_acid-treatments-and-reagents-page__props-item">
                <span class="_acid-treatments-and-reagents-page__props-key">
                  Стоимость:
                </span>
                <span class="_acid-treatments-and-reagents-page__props-value">
                  70 000 ₽
                </span>
              </li>
              <li class="_acid-treatments-and-reagents-page__props-item">
                <span class="_acid-treatments-and-reagents-page__props-key">
                  Дата начала:
                </span>
                <span class="_acid-treatments-and-reagents-page__props-value">
                  По мере формирования группы
                </span>
              </li>
              <li class="_acid-treatments-and-reagents-page__props-item">
                <span class="_acid-treatments-and-reagents-page__props-key">
                  Формат:
                </span>
                <span class="_acid-treatments-and-reagents-page__props-value">
                  Очно
                </span>
              </li>
              <li class="_acid-treatments-and-reagents-page__props-item">
                <span class="_acid-treatments-and-reagents-page__props-key">
                  Сколько учиться:
                </span>
                <span class="_acid-treatments-and-reagents-page__props-value">
                  4 дня
                </span>
              </li>
            </ul>
            <div class="_acid-treatments-and-reagents-page__actions">
              <button class="_btn _btn--outline">Узнать подробнее</button>
              <button class="_btn">Начать учиться</button>
            </div>
          </section>

          <section class="_slider-one-slide">
            <div class="_slider-one-slide__nav">
              <button
                type="button"
                class="_btn _btn--icon _btn--circle js-prev-slide"
              >
                <span>
                  <svg width="52" height="52" viewBox="0 0 52 52" fill="none">
                    <rect width="52" height="52" rx="26"></rect>
                    <path
                      d="M36 26L16 26M16 26L24.4 34M16 26L24.4 18"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="_slider-one-slide__slide">
                    <img
                      src="../../uploads/learning/acid-treatments-and-reagents/slide-1.jpg"
                      srcset="
                        ../../uploads/learning/acid-treatments-and-reagents/slide-1.jpg    1x,
                        ../../uploads/learning/acid-treatments-and-reagents/slide-1@2x.jpg 2x
                      "
                      alt="Описание"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="_slider-one-slide__slide">
                    <img
                      src="../../uploads/learning/acid-treatments-and-reagents/slide-2.jpg"
                      srcset="
                        ../../uploads/learning/acid-treatments-and-reagents/slide-2.jpg    1x,
                        ../../uploads/learning/acid-treatments-and-reagents/slide-2@2x.jpg 2x
                      "
                      loading="lazy"
                      alt="Описание"
                    />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="_slider-one-slide__slide">
                    <img
                      src="../../uploads/learning/acid-treatments-and-reagents/slide-3.jpg"
                      srcset="
                        ../../uploads/learning/acid-treatments-and-reagents/slide-3.jpg    1x,
                        ../../uploads/learning/acid-treatments-and-reagents/slide-3@2x.jpg 2x
                      "
                      loading="lazy"
                      alt="Описание"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="_slider-one-slide__nav">
              <button
                type="button"
                class="_btn _btn--icon _btn--circle js-next-slide"
              >
                <span>
                  <svg width="52" height="52" viewBox="0 0 52 52" fill="none">
                    <rect width="52" height="52" rx="26" />
                    <path
                      d="M16 26L36 26M36 26L27.6 18M36 26L27.6 34"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </button>
            </div>
          </section>

          <section class="_prompt-block">
            <p class="_prompt-block__hint">О чем курс?</p>

            <h2 class="_prompt-block__title">
              Раскроем все тонкости обработок кислотами, реагентами и природе
              воздействия
            </h2>

            <p class="_prompt-block__description">
              В течение курса слушатели узнают о современных научно-технических
              решениях в области СКО, ОПЗ, ОВП и ключевых показателях
              эффективности операций, освоят критерии оценки эффективности
              обработок в карбонатных и терригенных коллекторах, научаться
              создавать цифровые модели скважин и моделировать обработки в
              симуляторах RockStim и попробуют себя в роли практиков
              лабораторных экспериментов при проведении обработок ПЗП.
            </p>
          </section>

          <section class="_horizontal-banner" style="background-color: #353749">
            <div class="_horizontal-banner__info">
              <h3 class="_horizontal-banner__title">
                Оформи сейчас и получи бонусы:
              </h3>
              <div class="_horizontal-banner__description">
                <ul>
                  <li>Две недели пользования симулятором RockStim</li>
                  <li>
                    Смоделируем для Вас цифровую модель скважины и подберем
                    лучший дизайн кислотного воздействия
                  </li>
                  <li>Удостоверение о повышении квалификации</li>
                  <li>Электронные материалы курса</li>
                </ul>
              </div>

              <h3 class="_horizontal-banner__bottom-title">
                70 000 ₽ за 4 дня обучения
              </h3>
              <div class="_horizontal-banner__action">
                <button
                  class="_horizontal-banner__action-button _btn _btn--block"
                >
                  Начать учиться
                </button>
                <p class="_horizontal-banner__action-text">
                  По мере формирования группы
                </p>
              </div>
            </div>
            <div class="_horizontal-banner__image">
              <img src="../../uploads/products/product-2.png" alt="" />
            </div>
          </section>

          <section class="_prompt-block">
            <p class="_prompt-block__hint">Для чего курс?</p>

            <h2 class="_prompt-block__title">
              Углубите экспертизу в оптимизации дизайнов кислотного воздействия
              в сложнопостроенных терригенных и карбонатных коллекторах.
              Разбираться в практических эффектах лабораторных экспериментов на
              приросты нефти.
            </h2>
          </section>

          <section class="_course-program">
            <h2 class="_course-program__title">Программа курса</h2>

            <div class="accordion-container _course-program__list js-accordion">
              <div class="ac _course-program__item">
                <h2 class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger _course-program__item-header"
                  >
                    <span class="_course-program__item-date">1 день</span>
                    <span class="_course-program__item-title">
                      Особенности воздействия обработок в карбонатных
                      коллекторах
                    </span>
                  </button>
                </h2>
                <div class="ac-panel _course-program__item-text">
                  <div class="_course-program__item-content _text-content">
                    <ul>
                      <li>
                        Вводная лекция, как пользоваться симулятором RockStim
                      </li>
                      <li>
                        Особенности воздействия обработок в карбонатных
                        коллекторах
                      </li>
                      <li>
                        Моделирование собственной скважины с учётом обработок
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="ac _course-program__item">
                <h2 class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger _course-program__item-header"
                  >
                    <span class="_course-program__item-date">2 день</span>
                    <span class="_course-program__item-title">
                      Обработки терригенных коллекторов и осложняющие факторы
                    </span>
                  </button>
                </h2>
                <div class="ac-panel _course-program__item-text">
                  <div
                    class="_course-program__item-content _text-content"
                  ></div>
                </div>
              </div>

              <div class="ac _course-program__item">
                <h2 class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger _course-program__item-header"
                  >
                    <span class="_course-program__item-date">3 день</span>
                    <span class="_course-program__item-title">
                      Лабораторные исследования, жидкостей и реагентов СКО, ОВП
                    </span>
                  </button>
                </h2>
                <div class="ac-panel _course-program__item-text">
                  <div
                    class="_course-program__item-content _text-content"
                  ></div>
                </div>
              </div>

              <div class="ac _course-program__item">
                <h2 class="ac-header">
                  <button
                    type="button"
                    class="ac-trigger _course-program__item-header"
                  >
                    <span class="_course-program__item-date">4 день</span>
                    <span class="_course-program__item-title">
                      Моделирование и оптимизация эффектов от воздействия в
                      симуляторе RockStim
                    </span>
                  </button>
                </h2>
                <div class="ac-panel _course-program__item-text">
                  <div
                    class="_course-program__item-content _text-content"
                  ></div>
                </div>
              </div>
            </div>
          </section>

          <section class="_faq">
            <h2 class="_faq__title">FAQ</h2>
            <div class="_faq__body _accordion">
              <div class="ac _accordion__item">
                <h3 class="ac-header _accordion__header">
                  <button type="button" class="_accordion__button ac-trigger">
                    Кто будет меня учить?
                    <span class="_accordion__button-icon">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M10 1V19M1 10H19"
                          stroke="black"
                          stroke-opacity="0.87"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </span>
                  </button>
                </h3>
                <div class="ac-panel _accordion__panel">
                  <div class="_accordion__panel-content _text-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="ac _accordion__item">
                <h3 class="ac-header _accordion__header">
                  <button type="button" class="_accordion__button ac-trigger">
                    Каким требованиям мне нужно соответствовать?
                    <span class="_accordion__button-icon">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M10 1V19M1 10H19"
                          stroke="black"
                          stroke-opacity="0.87"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </span>
                  </button>
                </h3>
                <div class="ac-panel _accordion__panel">
                  <div class="_accordion__panel-content _text-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="ac _accordion__item">
                <h3 class="ac-header _accordion__header">
                  <button type="button" class="_accordion__button ac-trigger">
                    Чем подтверждено право на проведение образовательной
                    деятельности?
                    <span class="_accordion__button-icon">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M10 1V19M1 10H19"
                          stroke="black"
                          stroke-opacity="0.87"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </span>
                  </button>
                </h3>
                <div class="ac-panel _accordion__panel">
                  <div class="_accordion__panel-content _text-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="ac _accordion__item">
                <h3 class="ac-header _accordion__header">
                  <button type="button" class="_accordion__button ac-trigger">
                    Какой документ выдается после прохождения курса?
                    <span class="_accordion__button-icon">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M10 1V19M1 10H19"
                          stroke="black"
                          stroke-opacity="0.87"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </span>
                  </button>
                </h3>
                <div class="ac-panel _accordion__panel">
                  <div class="_accordion__panel-content _text-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="ac _accordion__item">
                <h3 class="ac-header _accordion__header">
                  <button type="button" class="_accordion__button ac-trigger">
                    Имеют ли срок действия документы о квалификации?
                    <span class="_accordion__button-icon">
                      <svg
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                      >
                        <path
                          d="M10 1V19M1 10H19"
                          stroke="black"
                          stroke-opacity="0.87"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </span>
                  </button>
                </h3>
                <div class="ac-panel _accordion__panel">
                  <div class="_accordion__panel-content _text-content">
                    <p>Срока действия документы о квалификации не имеют.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section
            class="_acid-treatments-and-reagents-page__resume"
            style="
              background-image: url('../../uploads/learning/acid-treatments-and-reagents/resume-bg.png');
            "
          >
            <div class="_acid-treatments-and-reagents-page__price">
              <h2 class="_acid-treatments-and-reagents-page__price-title">
                Стоимость:
              </h2>
              <p class="_acid-treatments-and-reagents-page__price-subtitle">
                70 000 ₽ за 4 дня обучения
              </p>
              <div
                class="_acid-treatments-and-reagents-page__price-text _text-content"
              >
                <h3>В курс входит:</h3>
                <ul>
                  <li>Две недели пользования симулятором RockStim</li>
                  <li>
                    Смоделируем для Вас цифровую модель скважины и подберем
                    лучший дизайн кислотного воздействия
                  </li>
                  <li>Удостоверение о повышении квалификации</li>
                  <li>Электронные материалы курса</li>
                </ul>
              </div>
            </div>
            <div class="_acid-treatments-and-reagents-page__feedback">
              <div class="_feedback">
                <h3 class="_feedback__title">Запишитесь на курс</h3>

                <ul class="_feedback__description">
                  <li class="_feedback__description-item">
                    <span class="_feedback__description-key">
                      Ближайший старт:
                    </span>
                    <span class="_feedback__description-value">
                      По мере формирования группы
                    </span>
                  </li>
                  <li class="_feedback__description-item">
                    <span class="_feedback__description-key">Формат:</span>
                    <span class="_feedback__description-value">Очно</span>
                  </li>
                  <li class="_feedback__description-item">
                    <span class="_feedback__description-key">
                      Сколько учиться:
                    </span>
                    <span class="_feedback__description-value">4 дня</span>
                  </li>
                </ul>

                <div class="_feedback__form">
                  <form action="" class="_form js-form">
                    <div class="_form__group">
                      <div class="_input">
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder=" "
                          required
                        />
                        <label for="name">Имя</label>
                        <span class="_input__border"></span>
                      </div>
                    </div>
                    <div class="_form__group">
                      <div class="_input">
                        <input
                          class="js-phone-mask"
                          type="tel"
                          name="phone"
                          id="phone"
                          placeholder=" "
                          required
                        />
                        <label for="phone">Телефон</label>
                        <span class="_input__border"></span>
                      </div>
                    </div>
                    <div class="_form__group">
                      <div class="_input">
                        <input
                          type="email"
                          name="email"
                          id="email"
                          placeholder=" "
                          required
                        />
                        <label for="email">E-mail</label>
                        <span class="_input__border"></span>
                      </div>
                    </div>
                    <div class="_form__group _form__group--bottom-large">
                      <button type="submit" class="_btn _btn--block">
                        Записаться на курс
                      </button>
                    </div>
                    <div class="_form__group">
                      <p class="_form__rules">
                        Заполняя форму, вы соглашаетесь на
                        <a href="#">обработку персональных данных</a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
