<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body>
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <%=
      _.template(require('./../includes/blocks/start-screen.html').default)(data)
      %>

      <div class="_container">
        <%=
        _.template(require('./../includes/blocks/who-are-we.html').default)(data)
        %> <%=
        _.template(require('./../includes/blocks/about-numbers.html').default)(data)
        %>
      </div>

      <%=
      _.template(require('./../includes/blocks/competencies.html').default)(data)
      %> <%=
      _.template(require('./../includes/blocks/projects.html').default)(data) %>
      <%=
      _.template(require('./../includes/blocks/partners.html').default)(data) %>
      <%= _.template(require('./../includes/blocks/history.html').default)(data)
      %> <%= _.template(require('./../includes/blocks/map.html').default)(data)
      %>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
