<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body>
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_container">
        <%=
        _.template(require('./../includes/blocks/start-screen.html').default)(data)
        %> <%=
        _.template(require('./../includes/blocks/who-are-we.html').default)(data)
        %>
      </div>

      <section class="_competencies">
        <h2 class="_competencies__title _title">компетенции</h2>

        <div class="_competencies__body">
          <%=
          _.template(require('./../includes/blocks/main-slider.html').default)(data)
          %>
        </div>
      </section>

      <div class="_container">
        <section class="_project-teasers">
          <%=
          _.template(require('./../includes/blocks/capabilities.html').default)(data)
          %>
        </section>

        <%=
        _.template(require('./../includes/blocks/feedback.html').default)(data)
        %> <%=
        _.template(require('./../includes/blocks/partners.html').default)(data)
        %>
      </div>

      <%=
      _.template(require('./../includes/blocks/about-numbers.html').default)(data)
      %>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
