<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_container">
        <div class="_news-page">
          <h1 class="_news-page__title _page-title">Новости</h1>

          <div class="_news-page__filter js-news-tags">
            <a href="#" class="_btn _btn--small _btn--text"> Все новости </a>
            <a href="#" class="_btn _btn--small _btn--text"> Образование </a>
            <a href="#" class="_btn _btn--small _btn--text">
              Наука и инновации
            </a>
            <a href="#" class="_btn _btn--small _btn--text"> Достижения </a>
            <a href="#" class="_btn _btn--small _btn--text"> RockStim </a>
            <a href="#" class="_btn _btn--small _btn--text"> RockFrac </a>
            <a href="#" class="_btn _btn--small _btn--text" data-tag="RockWow">
              RockWow
            </a>
          </div>

          <div class="_news-page__feed">
            <article class="_news-preview">
              <div class="_author-date">
                <div class="_author-date__author">
                  <div class="_author-date__author-picture">
                    <img
                      src="uploads/news/avatars/avatar-1.jpg"
                      alt="Марат Ситдиков"
                      width="28"
                      height="28"
                      loading="lazy"
                    />
                  </div>
                  <p class="_author-date__author-name">Марат Ситдиков</p>
                </div>
                <time datetime="7 Июля, 13:31" class="_author-date__date">
                  7 Июля, 13:31
                </time>
              </div>
              <div class="_news-preview__body">
                <h2 class="_news-preview__title">
                  Ретроспективный анализ двухстадийной солянокислотной обработки
                  с закачкой
                </h2>
                <ul class="_tag-list">
                  <li class="_tag-list__item"><span>Образование</span></li>
                  <li class="_tag-list__item">
                    <span>Наука и инновации</span>
                  </li>
                </ul>
                <p class="_news-preview__intro">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id es. Quis autem vel eum
                  iure reprehenderit qui in ea voluptate velit esse quam nihil
                  molestiae consequatu
                </p>
              </div>
              <a href="#" class="_news-preview__link">Title</a>
            </article>
            <article class="_news-preview">
              <div class="_author-date">
                <div class="_author-date__author">
                  <div class="_author-date__author-picture">
                    <img
                      src="uploads/news/avatars/avatar-2.jpg"
                      alt="Роман Касливцев"
                      width="28"
                      height="28"
                      loading="lazy"
                    />
                  </div>
                  <p class="_author-date__author-name">Роман Касливцев</p>
                </div>
                <time datetime="30 Июня, 13:06" class="_author-date__date">
                  30 Июня, 13:06
                </time>
              </div>
              <div class="_news-preview__body">
                <h2 class="_news-preview__title">
                  Как учесть возникающее явление раскрытия естественных трещин
                  коллектора при моделировании ОПЗ?
                </h2>
                <ul class="_tag-list">
                  <li class="_tag-list__item"><span>RockFrac</span></li>
                  <li class="_tag-list__item"><span>RockStim</span></li>
                </ul>
                <p class="_news-preview__intro">
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatu
                </p>
              </div>
              <a href="#" class="_news-preview__link">Title</a>
            </article>
            <article class="_news-preview">
              <div class="_author-date">
                <div class="_author-date__author">
                  <div class="_author-date__author-picture">
                    <img
                      src="uploads/news/avatars/avatar-2.jpg"
                      alt="Данияр Галимханов"
                      width="28"
                      height="28"
                      loading="lazy"
                    />
                  </div>
                  <p class="_author-date__author-name">Данияр Галимханов</p>
                </div>
                <time datetime="23 Июня, 13:06" class="_author-date__date">
                  23 Июня, 13:06
                </time>
              </div>
              <div class="_news-preview__body">
                <h2 class="_news-preview__title">
                  Ретроспективный анализ обработки горизонтальной
                  нефтедобывающей скважины
                </h2>
                <ul class="_tag-list">
                  <li class="_tag-list__item"><span>RockStim</span></li>
                  <li class="_tag-list__item">
                    <span>Наука и инновации</span>
                  </li>
                </ul>
                <p class="_news-preview__intro">
                  Quis autem vel eum iure reprehenderit qui in ea voluptate
                  velit esse quam nihil molestiae consequatu
                </p>
              </div>
              <a href="#" class="_news-preview__link">Title</a>
            </article>
          </div>
        </div>
      </div>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
