<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_container">
        <div class="_news-page-inner">
          <div class="_news-page-inner__aside">
            <button
              onclick="history.back()"
              type="button"
              class="_btn _btn--text _btn--icon"
            >
              <span>
                <svg width="52" height="52" viewBox="0 0 52 52" fill="none">
                  <rect width="52" height="52" rx="26" />
                  <path
                    d="M36 26L16 26M16 26L24.4 34M16 26L24.4 18"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              Назад
            </button>
          </div>

          <div class="_news-page-inner__body">
            <div class="_author-date">
              <div class="_author-date__author">
                <div class="_author-date__author-picture">
                  <img
                    src="uploads/news/avatars/avatar-1.jpg"
                    width="28"
                    height="28"
                    alt="Марат Ситдиков"
                    loading="lazy"
                  />
                </div>
                <p class="_author-date__author-name">Марат Ситдиков</p>
              </div>
              <time datetime="7 Июля, 13:31" class="_author-date__date">
                7 Июля, 13:31
              </time>
            </div>

            <h1 class="_news-page-inner__title _page-title">
              Ретроспективный анализ двухстадийной солянокислотной обработки с
              закачкой
            </h1>

            <ul class="_tag-list _news-page-inner__tags">
              <li class="_tag-list__item">Образование</li>
              <li class="_tag-list__item">Наука и инновации</li>
            </ul>

            <div class="_news-page-inner__content _text-content">
              <p>
                Рассмотрим пример ретроспективного моделирования в Симуляторе
                ОПЗ "RockStim" дизайна двухстадийной солянокислотной обработки с
                закачкой по затрубному пространству с применением отклонителя.
              </p>
              <h2>Исходные данные</h2>
              <p><strong>Тип коллектора:</strong> карбонатный</p>
              <p><strong>Пластовая температура:</strong> 25°С</p>
              <p><strong>Конструкция скважины:</strong> вертикальная</p>
              <p><strong>Тип скважины:</strong> нефтедобывающая</p>
              <p><strong>Режим обработки:</strong> закачка без пакера</p>
              <p><strong>Модель расчета:</strong> 1D</p>
              <p>
                <strong>Используемые реагенты:</strong> кислота, отклонитель
              </p>
              <h2>Моделирование</h2>
              <p>
                Скин-фактор был определен с помощью блока "Анализ добычи" с
                использованием фактических режимных данных работы скважины.
              </p>
              <p>
                Из базы реагентов были выбраны кислотные составы, по которым
                имелись данные кинетики по эксплуатируемому объекту.
              </p>
              <p>
                Согласно фактическим данным был сформирован следующий план
                закачки:
              </p>
              <h3>
                Кислота (по затр.) 9,93м³ → Отклонитель (по затр.) 8,94м³ →
                Кислота (по затр.) 10,13м³ → Продавка (по затр.) 15м³
              </h3>
              <p>
                <img
                  src="uploads/news/articles/article-1/1.jpg"
                  width="100%"
                  alt=""
                  loading="lazy"
                />
              </p>
              <h6 style="color: rgba(0, 0, 0, 0.7)">Рис. 1. План закачки</h6>
              <p>
                Для выполнения качественного моделирования ОПЗ была выбрана
                1D-модель, червоточины моделировались согласно модели Гонга с
                максимальной детализацией выходных данных. Данная модель была
                выбрана для уменьшения погрешности расчета, связанной с тем, что
                пласт имеет большую расчлененность.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
