<!DOCTYPE html>
<% var data = { title: "Tetacom", author: "Marat" }; %>

<html lang="ru">
  <%= _.template(require('./../includes/head.html').default)(data) %>

  <body class="_full-height">
    <%=
    _.template(require('./../includes/components/header.html').default)(data) %>

    <main>
      <div class="_product-page">
        <div class="_container">
          <h1 class="_product-page__title _page-title">
            Симулятор гидроразрыва пласта
          </h1>
          <p class="_product-page__description">
            Расчетный инструмент для проектирования и оптимизации ключевых
            технико-экономических параметров проведения ГРП
          </p>
          <div class="_product-page__actions">
            <a href="#" class="_btn _btn--outline">Вход в сервис</a>
            <button type="button" class="_btn">Заказать демонстрацию</button>
          </div>

          <div class="_product-page__picture">
            <img
              src="uploads/products/opz/opz.png"
              srcset="
                uploads/products/opz/opz.png    1x,
                uploads/products/opz/opz@2x.png 2x
              "
              alt=""
            />
          </div>

          <section class="_product-page__prompt-1 _prompt-block">
            <p class="_prompt-block__hint">Кто мы?</p>

            <h2 class="_prompt-block__title _title">
              Мы использовали Pseudo3D-модель
            </h2>

            <p class="_prompt-block__description">
              Модель развития трещины ГРП, численная модель кислотного
              растворения КГРП, с усовершенствованной модель оценки остаточной
              проводимости закрепленной трещины КГРП (Nasr-el-Din
              (Nierode-Kruk)). Возможность учета термодинамических эффектов в
              скважине и трещине ГРП
            </p>
          </section>

          <section class="_product-page__banners">
            <article class="_product-page__banners-wide _horizontal-banner">
              <div class="_horizontal-banner__info">
                <h3 class="_horizontal-banner__title">
                  Расчет геометрии трещины с использованием продвинутой P3D
                  модели
                </h3>
                <p class="_horizontal-banner__description">
                  Проведение расчётов ГРП трещин с исходными данными.
                  Возможность удобного размещение планшета геометрии трещин ГРП.
                  Блок многовариантных расчетов с варьированием геомеханических
                  и технологических параметров ГРП.
                </p>
              </div>
              <div class="_horizontal-banner__image">
                <img
                  src="uploads/products/grp/banner-1.png"
                  srcset="
                    uploads/products/grp/banner-1.png    1x,
                    uploads/products/grp/banner-1@2x.png 2x
                  "
                  alt=""
                />
              </div>
            </article>
            <article class="_vertical-banner">
              <h3 class="_vertical-banner__title">Планшет геомеханики</h3>
              <p class="_vertical-banner__description">
                Построение 1D-геомеханической и петрофизической модели пласта.
                Автоматическая подгрузка лабораторных исследований керна, данных
                специальных методов ГИС (АКШ, ГГкП). Работа с данными – линейные
                преобразования, растяжения значений.
              </p>
              <div class="_vertical-banner__image">
                <img src="uploads/products/grp/banner-2.svg" alt="" />
              </div>
            </article>
            <article class="_vertical-banner">
              <h3 class="_vertical-banner__title">Загрузка данных ГИС</h3>
              <p class="_vertical-banner__description">
                Интерпретация литотипов и петрофизических свойств пласта по
                данным ГИС. Возможность корректировки и построение данных ГИС, с
                последующей выгрузкой данных).
              </p>
              <div class="_vertical-banner__image">
                <img src="uploads/products/grp/banner-2.svg" alt="" />
              </div>
            </article>
          </section>

          <section class="_product-page__prompt-2 _prompt-block">
            <p class="_prompt-block__hint">Кто мы?</p>

            <h2 class="_prompt-block__title _title">
              Мы использовали Pseudo3D-модель
            </h2>

            <p class="_prompt-block__description">
              Модель развития трещины ГРП, численная модель кислотного
              растворения КГРП, с усовершенствованной модель оценки остаточной
              проводимости закрепленной трещины КГРП (Nasr-el-Din
              (Nierode-Kruk)). Возможность учета термодинамических эффектов в
              скважине и трещине ГРП
            </p>
          </section>
        </div>

        <section class="_product-page__modules">
          <div class="_container">
            <h2 class="_product-page__modules-title">Модули симулятора</h2>
            <div class="_product-page__modules-body">
              <div class="_product-page__module">
                <div class="_product-page__module-image">
                  <img src="uploads/products/grp/module-1.svg" alt="" />
                </div>
                <h3 class="_product-page__module-title">Построение модели</h3>
                <p class="_product-page__module-description">
                  Расчет протравленной и остаточной ширины трещины, динамики
                  снижения проводимости в процессе эксплуатации
                </p>
              </div>
              <div class="_product-page__module">
                <div class="_product-page__module-image">
                  <img src="uploads/products/grp/module-2.svg" alt="" />
                </div>
                <h3 class="_product-page__module-title">
                  Интерпретация данных ГИС
                </h3>
                <p class="_product-page__module-description">
                  Загрузка данных, обработка данных ГИС/РИГИС
                </p>
              </div>
              <div class="_product-page__module">
                <div class="_product-page__module-image">
                  <img src="uploads/products/grp/module-3.svg" alt="" />
                </div>
                <h3 class="_product-page__module-title">Расчёты</h3>
                <p class="_product-page__module-description">
                  Прогнозирование динамики забойного и устьевого давлений в
                  процессе проведения ГРП
                </p>
              </div>
              <div class="_product-page__module">
                <div class="_product-page__module-image">
                  <img src="uploads/products/grp/module-4.svg" alt="" />
                </div>
                <h3 class="_product-page__module-title">Аналитика</h3>
                <p class="_product-page__module-description">
                  Построение прогнозных режимов работы скважины после ГРП
                </p>
              </div>
              <div class="_product-page__module">
                <div class="_product-page__module-image">
                  <img src="uploads/products/grp/module-5.svg" alt="" />
                </div>
                <h3 class="_product-page__module-title">Тестовые закачки</h3>
                <p class="_product-page__module-description">
                  Прогнозирование динамики забойного и устьевого давлений в
                  процессе проведения ГРП
                </p>
              </div>
            </div>
          </div>
        </section>

        <div class="_container">
          <section class="_product-page__info-block">
            <div class="_info-block">
              <div class="_info-block__item">
                <h2 class="_info-block__title">
                  Что находится<br />в разработке
                </h2>
                <ul>
                  <li>Модель оседания пропанта в трещине ГРП</li>
                  <li>Математическая модель PL3D развития трещины ГРП</li>
                  <li>Модуль для прогноза вероятности осложнений в ГС</li>
                </ul>
              </div>

              <div class="_info-block__item">
                <h2 class="_info-block__title">
                  Предоставим всё<br />
                  необходимое<br />
                  для старта
                </h2>
                <ul>
                  <li>Пробные версии с сопровождением</li>
                  <li>Демонстрация работы симулятора на реальной скважине</li>
                  <li>Обучение и сервисное обслуживание</li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <%=
    _.template(require('./../includes/components/footer.html').default)(data) %>
    <%=
    _.template(require('./../includes/components/modals.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
  </body>
</html>
