---
import TextContent from "../../components/text-content.astro";

interface ProgramItem {
  day: string;
  title: string;
  contentHtml?: string;
}

interface Props {
  id?: string;
  items: ProgramItem[];
}

const { id, items } = Astro.props as Props;
---

<section id={id} class="_course-program">
  <h2 class="_course-program__title">Программа курса</h2>

  <div class="accordion-container _course-program__list js-accordion">
    {
      items.map(({ day, title, contentHtml }) => (
        <div class="ac _course-program__item">
          <h2 class="ac-header _course-program__item-heading">
            <button
              type="button"
              class="ac-trigger _course-program__item-header"
            >
              <span class="_course-program__item-date">{day}</span>
              <span class="_course-program__item-title">{title}</span>
            </button>
          </h2>
          <div class="ac-panel _course-program__item-text">
            <TextContent
              rootClass="_course-program__item-content"
              html={contentHtml}
            />
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  ._course-program__title {
    margin: 0;
    font-size: 40px;
    line-height: 1em;
  }

  ._course-program__list {
    display: grid;
    gap: 12px;
    margin-top: 38px;
  }

  ._course-program__item {
    overflow: hidden;
    border-radius: 16px;
    background: #f8f8f8;
  }

  ._course-program__item-heading {
    margin: 0;
  }

  ._course-program__item-header {
    display: grid;
    gap: 12px;
    width: 100%;
    padding: 20px 24px;
    overflow: hidden;
    border: none;
    border-radius: 16px;
    background: none;
    color: inherit;
    font-family: inherit;
    text-align: left;
    cursor: pointer;
    transition: background-color var(--delay) var(--timing-func);
  }

  ._course-program__item-header:hover,
  ._course-program__item.is-active ._course-program__item-header {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  ._course-program__item-date,
  ._course-program__item-title {
    transition: color var(--delay) var(--timing-func);
  }

  ._course-program__item-date {
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
  }

  ._course-program__item-title {
    margin: 0;
    font-size: 32px;
  }

  ._course-program__item-text {
    overflow: hidden;
    transition: height 250ms var(--timing-func);
  }

  :global(._course-program__item-content) {
    padding: 16px 24px;
  }

  /* mobile */
  @media (width < 769px) {
    ._course-program__title {
      text-align: center;
    }

    ._course-program__item-title {
      font-size: 20px;
      line-height: 1em;
    }
  }
</style>

<script>
  import Accordion from "accordion-js";

  new Accordion(
    Array.from(
      document.querySelectorAll<HTMLElement>("._course-program .js-accordion"),
    ),
    {
      duration: 250,
      showMultiple: true,
    },
  );
</script>
