*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &::selection {
    //background-color: var(--primary-color);
    //color: var(--grey-50);
  }
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;

  &.modal {
    overflow: hidden;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  //font-family: var(--font-primary);
  //color: var(--grey-50);
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
