*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  &::selection {
    background-color: var(--primary-color);
    color: var(--black-color);
  }
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;

  &.modal {
    overflow: hidden;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
