*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  &::selection {
    background-color: var(--primary-color);
    color: var(--black-color);
  }
}

html {
  overflow-y: auto;
  scroll-behavior: smooth;

  &.modal {
    overflow: hidden;
  }

  &.mobile-menu {
    @include touch {
      overflow: hidden;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  color: var(--white-color);
  background-color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;

  @include desktop {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
