:root {
  --font-primary: "TTNorms", sans-serif;

  --primary-color: #ffffff;
  --black-color: #1a1a1a;
  --white-color: #ffffff;

  --disabled-color: #838696;

  --scrollbar-track-color: transparent;
  --scrollbar-color: rgba(128, 128, 128, 0.5);
  --scrollbar-side: 6px;

  --gap: 20px;

  --delay: 0.2s;

  //--header: 58px;
}

@include desktop {
  :root {
    //--header: 92px;
  }
}
