---
import Cookie from "../components/cookie.astro";
import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Popovers from "../components/popovers.astro";
---

<!doctype html>
<html lang="ru">
  <Head />

  <body class="full-height">
    <Header />

    <slot />

    <Footer />
    <Popovers />
    <Cookie />
  </body>
</html>

<style>
  .full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
